<!DOCTYPE html>
<html>
<head>
	<title>Create a New Issue</title>
</head>
<style>
h1 {
	color: #FF8C00;
	font-family: Arial;
}
h2 {
	font-family: Arial;
}
p {
	font-family: Arial;
}
</style>
<body>
	<center>
		<h1>Create a New Issue</h1>
		<br>
		<br>
		<h2>Please provide a description for your issue</h2>
		<form method="POST" action="/create">
              <input type="text" name="Description">
              <input type="submit" value="Submit">
		</form>
		<button type="button" onclick="window.location.href='{{ url_for('index') }}';">Back</button>
	</center>
</body>
</html>