<!DOCTYPE html>
<html>
<head>
	<title>Edit Issue</title>
</head>
<style>
h1 {
	color: #FF8C00;
	font-family: Arial;
}
h2 {
	font-family: Arial;
}
p {
	font-family: Arial;
}
</style>
<body>
	<center>
		<h1>Edit Issue {{ results[0][0] }}</h1>
<!-- 		<h2>Current Description:</h2>
		<p>{{ results[0][1] }}</p>
		<br>
		<h2>Please provide a description for your issue</h2> -->
		<p><b>Current Description: </b><br>{{ results[0][1] }}</p>
		<form method="POST" action="/edit/{{ results[0][0] }}">
              <p><b>New Description: </b></p>
              <input type="text" name="Description">
              <input type="submit" value="Submit">
              <input type="hidden"  name="Type" value = "Update">
		</form>
		<br>
		{% if user and user['admin_role'] == 1 %}
		<form method="POST" action="/edit/{{ results[0][0] }}">
		    <input type="submit" value="Delete Issue">
		    <input type="hidden"  name="Type" value = "Delete">
		</form>
		{% endif %}
		<br>
		<button type="button" onclick="window.location.href='{{ url_for('index') }}';" >Back</button>
	</center>
</body>
</html>