<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Strata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ionicons.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='Footer-Basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Footer-Dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Header-Blue.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Projects-Horizontal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="#"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                        id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><input class="form-control search-field" type="search" name="search" id="search-field"></div>
                        </form>
                        <span class="navbar-text">
                            {% if not user %}
                            <a href="{{ url_for('login') }}" class="login">Log In</a>
                            <a class="btn btn-light action-button" role="button" href="{{ url_for('register') }}">Sign Up</a>
                            {% endif %}
                            {% if user %}
                            <a href="{{ url_for('logout') }}" class="login">Log Out</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </nav>
            <div class="container hero">
                <center>
                    <h1 style="margin: 5px;">Strata Issues Tracking App</h1>
                    <br>
                    <a class="btn btn-light action-button" role="button" href="{{ url_for('create') }}">Raise New Issue</a></div>
                </center>
            </div>
            <center>

            </center>
        </div>
    </div>
    <div class="projects-horizontal">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">List of Issues</h2>
                    <center>
                        {% for key, value in results_dict.items() %}
                        <p><b>ID</b>: {{ key }} | <b>Name</b>: {{ value }} | <a href="{{ url_for('edit')}}/{{ key }}">Edit</a></p>
                        {% endfor %}
                    </center>
                <br>
            </div>
        </div>
    </div>
<!--    <div>-->
<!--        <center>-->
<!--            <h3>{{ user }}</h3>-->
<!--        </center>-->
<!--    </div>-->
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Code.Sydney Pty Ltd © 2019</p>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>