<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>Strata</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='ionicons.min.css') }}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
      <link rel="stylesheet" href="{{ url_for('static', filename='Footer-Basic.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='Footer-Dark.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='Header-Blue.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='Projects-Horizontal.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>

 <body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="#"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                        id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><input class="form-control search-field" type="search" name="search" id="search-field"></div>
                        </form><span class="navbar-text"> <a href="{{ url_for('index') }}" class="login">Home</a></div>
                </div>
            </nav>
        <div class="container hero">
            <div class="container hero">
                    <h1 style="margin: 5px;">Log In</h1>
            </div>
        </div>
        </div>
        <div class="projects-horizontal">
            <br>
            <br>
            <form class="form-horizontal" method="POST" action="{{ url_for('login') }}">
                <fieldset>
                  <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                  </div>
                </fieldset>
            </form>
        </div> <!-- /container -->

    </body>
</html>